* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: $mainFont;
    font-weight: 300;
    line-height: 1.5;
    color: #637787;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $secondaryColor;
    -webkit-tap-highlight-color: primaryColorLight;
}

.hide-on-medium {
    @include atMedium {
        display: none;
    }
}

.show-on-medium {
    @include atMedium {
        display: block;
    }
}

.hide-on-small {
    @include atSmall {
        display: none;
    }
}

.bg-gray {
    background-color: #fafafa;
}

.bg-dark {
    background-color: $darkGray;
}