@mixin atSmallest {
    @media (min-width: #{$smallest-width}) {
      @content;
    }
  }

@mixin atSmall {
    @media (min-width: #{$small-width}) {
      @content;
    }
}

@mixin atMediumSmall {
  @media (min-width: #{$medium-small-width}) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin atLargest {
  @media (min-width: #{$largest-width}) {
    @content;
  }
}

%prefix {
  position: absolute;
  z-index: -1;
  margin: auto;
  background-color: #354b5a;
  content: '';
}

%centered {
  margin-right: auto;
  margin-left: auto;
}

%flexwrap {
  display: flex;
  flex-wrap: wrap;
}