
// ============ Colors ============

$primaryColor: #f8510f;
$secondaryColor: #00c0fa;
$primaryColorLight: #f97541;
$secondaryColorLight: #2ecfff;
$lightGray: #b2bec8;
$darkGray: #22303a;
$dark: #0f151a;

// ============ Screen widths ============

$smallest-width: 480px;
$small-width: 648px;
$medium-small-width: 768px;
$medium-width: 960px;
$large-width: 1200px;
$largest-width: 1440px;


// ============ Fonts ============

$mainFont: 'Rubik', sans-serif;
$headingFont: 'Rubik Mono One', sans-serif;