
// ============ Colors ============

$primaryColor: #DB382C;
$secondaryColor: #00c0fa;
$primaryColorLight: #f97541;
$secondaryColorLight: #2ecfff;
$lightGray: #b2bec8;
$darkGray: #22303a;
$dark: #0f151a;

// ============ Screen widths ============

$mobile-small-width: 480px;
$mobile-large-width: 648px;
$tablet-width: 960px;
$desktop-width: 1200px;


// ============ Fonts ============

$mainFont: 'Rubik', sans-serif;
$headingFont: 'Rubik Mono One', sans-serif;