.block {
    @extend %flexwrap;
    // border: 1px solid red;
    position: relative;
    flex: 0 0 75%;
    margin: 0 6px;
    z-index: 1;
    justify-content: center;
  
    @include atSmallest {
      flex: 0 0 100%;
      justify-content: space-between;
    }
  
    @include atMediumSmall {
      justify-content: space-evenly;
    }

    @include atMedium {
      flex: 0 0 calc(25% - 12px);
      justify-content: center;
      margin: 0 6px;
    }

    &--reversed {
      flex-direction: row-reverse;
    }

    &--single {
      margin: 0 auto;
      max-width: 320px;

      @include atLarge {
        max-width: 360px;
      }
      
      & .block__text {
        margin: 0;
        max-width: inherit;
        flex: unset;
      }
    }

    &--block--half {
      flex: 0 0 50%;
    }

    &--one-third  {
      flex: unset;
      margin: 0;

      @include atSmallest {
        align-items: center;
        flex: 0 0 100%;
      }

      @include atMedium {
        flex: 0 0 calc(33.33333% - 12px);
        margin: 0 6px;
      }

      @include atLarge {
        flex: 0 0 25%;
        margin: 0;
      }

      & .block__icon {
        @extend %centered;
        border: 1px solid red;
        width: 144px;

        @include atSmallest {
          flex: none;
          height: 144px;
        }

        @include atSmall {
          width: 192px;
          margin: 0;
        }

        @include atMedium {
          width: 144px;
          height: 144px;
          margin-bottom: 24px;
        }

        & svg {
          width: 100%;
          height: auto;
        }
      }

      & .block__text {
        padding: 0;
        margin: 0;
        flex: 0 0 100%;

        @include atSmall {
          max-width: initial;
          margin: 0;
          flex: 0 0 58.33333%;
        }

        @include atMediumSmall {
          flex: 0 0 50%;
        }

        @include atMedium {
          flex: 0 0 100%;
          min-height: 200px;
          border: 2px solid orange;
        }
      }
    }

  
    &:not(:last-of-type) {
      margin-bottom: 40px;

      @include atMedium {
        margin-bottom: 0;
      }
    }
    &:first-child .block__bullet::before {
      display: none;
    }
    &:last-child .block__bullet::after {
      display: none;
    }
      


    &__icon {
      // border: 2px solid rgb(245, 245, 240);
      
      @include atSmallest {
        flex: 0 0 calc(33.33333% - 24px);
        margin: 0 12px;
        display: flex;
        position: relative;
        justify-content: center;
      }
  
      @include atSmall {
        justify-content: flex-start;
      }
  
      @include atMediumSmall {
        position: static;
        margin-bottom: 80px;
        width: 96px;
        height: 96px;
      }

      @include atMedium {
        justify-content: center;
        width: 144px;
        height: 144px;
      }

      @include atLargest {
        width: 192px;
        height: 192px;
      }

      &--with-mb {
        margin-bottom: 24px;
      }

      &--with-mb-at-medium {
        @include atMedium {
          margin-bottom: 80px;
        }
      }

      &>svg {
        @include atMediumSmall {
          width: auto;
          height: 100%;
        }
      }
    }

    &__arrow {
      position: absolute;
      right: 50%;
      bottom: -32px;
      left: 50%;
      transform: rotate(90deg);

      @include atMediumSmall {
        top: 12%;
        right: 0;
        left: 100%;
        transform: rotate(0);
        width: 16px;
        height: auto;
      }

      @include atMedium {
        top: 18%;
        width: 20px;
      }

      @include atLarge {
        top: 20%;
      }
    }
  
    &__bullet {
      position: absolute;
      top: 64px;
      bottom: 0;
      left: -48px;
      border-radius: 50%;
      background-color: $primaryColor;
      width: 12px;
      height: 12px;
  
      @include atSmallest {
        right: 18%;
        left: 0;
        margin: 0 auto;
      }

      @include atSmall {
        right: 21%;
        width: 16px;
        height: 16px;
      }

      @include atMediumSmall {
        top: 144px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 8px;
        height: 8px;
      }

      @include atMedium {
        top: 176px;
        width: 12px;
        height: 12px;
      }
  
      &:after {
        @extend %prefix;
        top: 50%;
        right: 0;
        left: 0;
        bottom: -240px;
        width: 2px;
  
        @include atSmallest {
          bottom: -187px;
        }

        @include atMedium {
          height: 2px;
          left: 50%;
          right: -192px;
          width: initial;
          bottom: 0;
          top: 0;
        }
      }
  
      &:before {
        @extend %prefix;
        top: -240px;
        right: 0;
        left: 0;
        bottom: 50%;
        width: 2px;

        @include atSmallest {
          top: -187px;
        }
  
        @include atMedium {
          height: 2px;
          top: 0;
          bottom: 0;
          left: -192px;
          right: 50%;
          width: initial;
        }
      }
    }
  


    &__text {
      // border: 1px solid green;
      @include atSmallest {
        margin: 0 12px;
        flex: 0 0 auto;
        max-width: 286px;
        flex: 0 0 calc(50% - 24px);
        align-self: center;
      }
     
      @include atMedium {
        &--without-padding-at-medium {
          padding: 0;
        }
        padding: 0 16px;
        max-width: initial;
        flex: 0 0 100%;
      }
    }
  

    &__subtitle {
      font-weight: 300;
      font-size: 1.3125rem;
      line-height: 1.75;
      text-align: center;
      margin-bottom: 8px;
      color: #2a3843;

      &--left-aligned {
        text-align: left;
      }

      &--with-mb {
        margin-bottom: 24px;

        @include atMedium {
          margin-bottom: 32px;
        }
      }

      &--with-line {
        &:before {
          width: 32%;
          display: block;
          margin-right: auto;
          margin-bottom: 8px;
          margin-left: auto;
          background: $secondaryColor;
          height: 2px;
          content: '';

          @include atSmall {
            height: 4px;
          }
        }
      }

      &--bold {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.25;

        @include atSmall {
          font-size: 1.75rem;
        }

        @include atMedium {
          font-size: 34px;
        }

        @include atLarge {
          font-size: 44px;
        }
      }
    }
  

    &__description {
      line-height: 1.75;
      color: #637787;
      font-weight: 300;
    }

    &__link {
      text-align: left;
      margin-top: 16px;
      max-width: 320px;
      display: block;
      text-transform: uppercase;
      white-space: nowrap;
      font-weight: 300;

      svg {
        margin-left: 8px;
      }
    }

    &--dark {
      .block__subtitle {
        color: #fff;
      }

      .block__description {
        color: #b2bec8;
      }
    }
  }