.btn {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    width: initial;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 125ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 0.6875rem;
    text-transform: uppercase;
    display: inline-block;

    &--primary {
        background: $primaryColor;
        border-color: $primaryColor;
        &:hover {
            background-color: $primaryColorLight;
            border-color: $primaryColorLight;
        }
    }

    &--secondary {
        background: $secondaryColor;
        border-color: $secondaryColor;
        &:hover {
            background-color: $secondaryColorLight;
            border-color: $secondaryColorLight;
        }
    }

    &--small {
        padding: 0 12px;
        height: 24px;
        line-height: 24px;

        @include atSmall {
            height: 28px;
            line-height: 28px;
            font-size: 0.875rem;
        }

        @include atMedium {
            height: 32px;
            line-height: 32px;
            padding: 0 16px;
        }

        @include atLarge {
            height: 36px;
            line-height: 36px;
            font-size: 1rem;
            padding: 0 20px;
        }
    }



    &--medium {
        height: 32px;
        line-height: 32px;
        font-size: 0.875rem;
        letter-spacing: 1px;
        width: 126px;
        

        @include atMedium {
            height: 44px;
            line-height: 44px;
            font-size: 1rem;
            padding: 0 12px;
            width: 176px;
        }
    }


    &--large {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-size: 1rem;
        margin-top: 48px;

        @include atMedium {
            height: 48px;
            line-height: 48px;
            font-size: 1.125rem;
            margin-top: 64px;
        }

        @include atLarge {
            height: 56px;
            line-height: 56px;
            font-size: 1.3125rem;
            margin-top: 72px;
        }
    }

    &--centered {
        @extend %centered;
        display: inline-block;
    }

    &--light {
        background-color: #fff;
        color: $secondaryColor;
        &:hover {
            opacity: 0.9;
        }
    }

    &--with-m-left {
        margin-left: 8px;

        @include atSmall {
            margin-left: 12px;
        }
        @include atMedium {
            margin-left: 16px;
        }
    }

    &--with-m-top {
        margin-top: 24px;

        @include atMedium {
            margin-top: 40px;
        }

        @include atLarge {
            margin-top: 56px;
        }
    }
}
