.customers {
    min-height: 60vh;
    border: 2px solid blue;
    padding: 48px 0;
    background-color: #fafafa;
    
    @include atSmallest {
        padding: 56px 0;
    }
    
    @include atSmall {
        padding: 64px 0;
    }
    
    @include atMediumSmall {
        z-index: 0;
        overflow: hidden;
    }

    @include atMedium {
        padding: 72px 0;
    }

    @include atLarge {
        padding: 128px 0;
    }

    &__wrapper {
        animation: rotateLogos 325s linear infinite;
        display: flex;
        flex-wrap: nowrap;
        margin-top: -48px;

        @include atMediumSmall {
            position: absolute;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
            transform: rotate(-16deg);
            z-index: -1;
            margin-top: 0;
        }
    }

    &__logos {
        position: relative;
        flex-shrink: 0;
        transition: transform 0.25s ease-in-out;
        margin: 0 auto;
        width: 1556px;
        height: 336px;

        @include atMediumSmall {
            position: absolute;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
            transform: scale(0.65);
            margin: auto;
            width: 1440px;
            height: 1440px;
        }

        @include atMedium {
            transform: scale(0.75);
        }

        @include atLarge {
            transform: scale(1);
        }
    }

    &__logo-wrapper {
        position: absolute;
        margin-top: -16px;
        margin-left: -16px;

        &--small {
            width: 96px;
            height: 96px;

            @include atMediumSmall {
                width: 120px;
                height: 120px;
            }

            &:nth-of-type(1) {
                animation: logoDrift3 17s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                top: 19.5%;
                left: 0.5%;

                @include atMediumSmall {
                    top: 12.5%;
                    left: 28.5%;
                }
            }
        }

        &--large {
            width: 142px;
            height: 142px;

            @include atMediumSmall {
                width: 184px;
                height: 184px;
            }

            &:nth-of-type(1) {
                // animation: logoDrift1 18s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                top: 9%;
                left: 6%;

                @include atMediumSmall {
                    top: 6.5%;
                    left: 38.5%;
                }
            }

            &:nth-of-type(2) {
                top: 47.5%;
                left: 13%;

                @include atMediumSmall {
                    top: 20%;
                    left: 18%;
                }
            }

            &:nth-of-type(3) {
                top: 10%;
                left: 24%;

                @include atMediumSmall {
                    top: 49.5%;
                    left: 12%;
                }
            }

            &:nth-of-type(4) {
                top: 52.5%;
                left: 30%;

                @include atMediumSmall {
                    top: 70.5%;
                    left: 16%;
                }
            }

            &:nth-of-type(5) {
                top: 21.5%;
                left: 44%;

                @include atMediumSmall {
                    top: 75.5%;
                    left: 38.5%;
                }
            }

            &:nth-of-type(6) {
                top: 53.5%;
                left: 58%;

                @include atMediumSmall {
                    top: 79.5%;
                    left: 64.5%;
                }
            }

            &:nth-of-type(7) {
                top: 11%;
                left: 68.5%;

                @include atMediumSmall {
                    top: 58%;
                    left: 73.5%;
                }
            }

            &:nth-of-type(8) {
                top: 52.5%;
                left: 75%;

                @include atMediumSmall {
                    top: 33.5%;
                    left: 81.5%;
                }
            }

            &:nth-of-type(9) {
                top: 20.5%;
                left: 89.5%;

                @include atMediumSmall {
                    top: 18.5%;
                    left: 64.5%;
                }
            }
        }
    }

    &__logo-shadow {
        background-image: url(https://assets.imgix.net/logos/mobile-logo-shadow-large.png?q=70&w=158&fm=png8);
        animation: keepLogosUpright 325s linear infinite;    
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100%;
        width: 100%;
        height: 100%;

        @include atMediumSmall {
            background-image: url(https://assets.imgix.net/logos/desktop-logo-shadow-large.png?q=70&w=200&fm=png8);
            transform: rotate(16deg);
        }
    }

    &__logo {
        position: relative;
        z-index: 1;
        border-radius: 50%;
        width: 110px;

        @include atMediumSmall {
            width: 152px;
        }
    }
}