.footer {

    &--primary {
        padding: 80px 0 32px;
    }

    &__contact {
        flex: 0 0 100%;
    }
    &__logo {
        margin-bottom: 24px;
    }

    &__date {
        margin-bottom: 64px;
        color: #fff;
    }

    &__social-icons {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 224px;
        margin-top: 32px;
        margin-bottom: 80px;
    }

    &__buttton {
        font-size: 1rem;
        font-weight: 300;
        text-transform: none;
        width: 224px;
        height: 48px;
        line-height: 48px;
    }

}