header {
    position: absolute;
    background-color: transparent;
    width: 100%;

    @include atMedium {
        position: relative;
    }
    
    svg {
        width: 82px;
        vertical-align: middle;

        @include atLarge {
            width: 122px;
        }
    }
}