header {
    background-color: transparent;
    width: 100%;
    position: relative;

    svg {
        width: 82px;
        vertical-align: middle;

        @include atLarge {
            width: 122px;
        }
    }
}