nav {
    border: 2px solid green;
    width: 100%;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;

    @include atSmall {
        font-size: 1rem;
    }

    @include atMedium {
        font-size: 1.125rem;
    }

    ul {
        list-style: none;
        display: inline-block;

        li {
            display: inline;

            a {
                color: #fff;
            }
        }
    }
}