.navigation-panel {
    border: 2px solid green;
    width: 100%;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;

    @include atSmall {
        font-size: 1rem;
    }

    @include atMedium {
        font-size: 1.125rem;
        padding: 24px 0;
    }

    &__list {
        list-style: none;
        display: inline-block;

    }

    &__left {
        .navigation-panel__item {
            @include atSmallest {
                margin-right: 16px;
            }

            @include atSmall {
                margin-right: 20px;
            }

            @include atSmall {
                margin-right: 24px;
            }

            @include atLarge {
                margin-right: 32px;
            }
        }
    }

    &__item {
        display: inline;

        a {
            color: #fff;
        }
    }
}