section {
    // min-height: 100vh;
    position: relative;


    & .caption {
        font-weight: 300;
        margin-top: 16px;
        color: $secondaryColor;
        font-size: 1rem;
        line-height: 1.75;

        @include atSmallest {
            flex: 0 0 83.33333%;    
        }

        @include atSmall {
            flex: 0 0 50%;
            margin-right: 100%;
        }

        @include atMedium {
            flex: 0 0 41.66667%;
        }

        @include atLarge {
            font-size: 1.125rem;
            max-width: 470px;
        }
    }
}


.hero {
    &__gradient {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &--layerA {
            background-image: linear-gradient(252deg, #2a71bd 39%, #19293b 100%);
        }
        &--layerB {
            background-image: linear-gradient(73deg, rgba(23,42,51,0.9) 0%, rgba(87,158,194,0.8) 61%);
        }
        &--layerC {
            background-image: linear-gradient(0deg, rgba(12,38,51,0) 12%, rgba(12,20,51,0.75) 89%);
        }
    }
}

.spacer {
    width: 100%;
    height: 30px;

    @include atSmall {
        height: 50px;
    }
    @include atMedium {
        height: 70px;
    }

}

.slope {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    svg {
        position: absolute;
        right: -2px;
        bottom: -1px;
        z-index: -1;
    }
}

.features {
    &__list {
        // border: 2px solid blue;
        margin: 0 auto;
        max-width: 272px;

        @extend %flexwrap;
        list-style: none;

        @include atSmall {
            justify-content: space-between;
            max-width: initial;
        }
        @include atLarge {
            justify-content: space-around;
        }
    }
}

.services {
    min-height: 100vh;

    &__list {
      @extend %flexwrap;
      list-style: none;
      justify-content: flex-end;

      @include atMedium {
        justify-content: space-between;
      }
    }
}


.customers {

}