section {
    position: relative;


    & .caption {
        font-weight: 300;
        margin-top: 16px;
        color: $secondaryColor;
        font-size: 1rem;
        line-height: 1.75;

        @include atSmallest {
            flex: 0 0 83.33333%;    
        }

        @include atSmall {
            flex: 0 0 50%;
            margin-right: 100%;
        }

        @include atMedium {
            flex: 0 0 41.66667%;
        }

        @include atLarge {
            font-size: 1.125rem;
            max-width: 470px;
        }
    }
}


.hero {
    &__gradient {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &--layerA {
            background-image: linear-gradient(252deg, #2a71bd 39%, #19293b 100%);
        }
        &--layerB {
            background-image: linear-gradient(73deg, rgba(23,42,51,0.9) 0%, rgba(87,158,194,0.8) 61%);
        }
        &--layerC {
            background-image: linear-gradient(0deg, rgba(12,38,51,0) 12%, rgba(12,20,51,0.75) 89%);
        }
    }
}

.spacer {
    width: 100%;
    height: 30px;

    @include atSmall {
        height: 50px;
    }
    @include atMedium {
        height: 70px;
    }

}

.slope {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    svg {
        position: absolute;
        right: -2px;
        bottom: -1px;
        z-index: -1;
    }
}

// https://www.imgix.com/
.demo {
    &__wrapper {
        animation: fadeIn 114.28571ms forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
        width: 238px;
        height: 158.66667px;
        position: absolute;
        right: 8px;
        bottom: 172px;
        opacity: 0;
        z-index: 1;

        @include atSmall {
            width: 272px;
            height: 181.33333px;
            right: 0;
            bottom: 118px;
            left: 53%;
        }

        @include atMediumSmall {
            width: 348px;
            height: 232px;
            bottom: 72px;
            left: 51%;
        }

        @include atMedium {
            width: 468px;
            height: 312px;
            bottom: 24px;
            left: 46%;
        }

        @include atLarge {
            width: 620px;
            height: 413.33333px;
            bottom: 32px;
            left: 49%;
        }
    }

    &__link {
        animation: contentFirstLoad 400ms forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__image-wrapper {
        position: relative;
        margin: 0 auto;
        box-shadow: 0 6px 30px rgba(15,21,26,0.2);
        height: 100%;
        overflow: hidden;

        &:before {
            left: 50%;
            width: 2px;
            height: 100%;
            position: absolute;
            opacity: 0;
            z-index: 1;
            background-color: #f00;
            content: "";
        }

        &:after {
            top: 50%;
            width: 100%;
            height: 2px;
            position: absolute;
            opacity: 0;
            z-index: 1;
            background-color: #f00;
            content: "";
        }
    }

    &__sale {
        animation: fadeIn 200ms forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
        position: absolute;
        transform: translateX(50%);
        opacity: 0;
        z-index: 1;
        height: 100%;
    }

    &__logo {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(32%, 32%) scale(0.34);
        opacity: 0;
        z-index: 1;
        width: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.features {
    &__list {
        // border: 2px solid blue;
        margin: 0 auto;
        max-width: 272px;

        @extend %flexwrap;
        list-style: none;

        @include atSmall {
            justify-content: space-between;
            max-width: initial;
        }
        @include atLarge {
            justify-content: space-around;
        }
    }
}

.process {
    min-height: 100vh;

    &__list {
      @extend %flexwrap;
      list-style: none;
      justify-content: flex-end;

      @include atMedium {
        justify-content: space-between;
      }
    }
}


.col {
    &__6 {
        flex: 0 0 50%;
    }
}