.services {
    min-height: 100vh;
    padding: 30px 0;
    background-color: $darkGray;

    &__content {
      @extend %flexwrap;
      padding-right: 15px;
      padding-left: 15px;
      margin: 0 auto;
      max-width: 1440px;

      @include atMedium {
        padding-right: 24px;
        padding-left: 24px;
      } 
      @include atMedium {
        padding-right: 36px;
        padding-left: 36px;
      }
    }
  

    &__list {
      @extend %flexwrap;
      list-style: none;
      justify-content: flex-end;

      @include atMedium {
        justify-content: space-between;
      }
    }
}
