.wrapper {
    border: 2px solid green;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

    @include atLarge {
        padding-right: 36px;
        padding-left: 36px;
    }

    &--with-padding {
        padding-top: 16px;
        max-width: 1440px;
        padding-bottom: 64px;
        
        @include atSmall {
            padding-bottom: 56px;
            padding-top: 32px;
        }

        @include atMedium {
            padding-bottom: 64px;
        }

        @include atLarge {
            padding-bottom: 80px;
        }
    }

    &--no-flex {
        display: block;
    }
}